# Python / Django
venv/
__pycache__/
*.pyc
db.sqlite3
.env

# Next.js / Node
node_modules/
.next/
out/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Otros
.DS_Store
Thumbs.db